body {
    margin: auto;
}
td {
    border: 1px dotted black;
    width: 120px;
    height: 120px;
}
.center {
    margin: auto;
}
.selected {
    color: red;
}
.notSelected {
    color: blue;
}
#board {
    display: none;
}
#settings {
    width: 400px;
    margin: auto;
    display: none;
}