body {
    margin: auto;
}
td {
    border: 1px dotted white;
    width: 120px;
    height: 120px;
}
#settings{
	width: 400px;
	margin: auto;
}
.selected {
    color: red;
}
.notSelected {
    color: blue;
}
#board {
    display: none;
}