body {
    margin: auto;
}
td {
    border: 1px dotted black;
    width: 120px;
    height: 120px;
    color:  black;
    font-size: 100px;
    text-align: center;
}
.center {
    margin: auto;
}
.notSelected {
    color: blue;
}
#board {
    display: none;
}
#settings {
    width: 400px;
    margin: auto;
    display: none;
}